<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h2 th:text="${title}"></h2>

  <!-- TODO #1 - Use a loop to display job results in a table. -->
  <th:block th:each="job : ${jobs}" >
    <table class="job-listing">
<!--    <tr th:each="field : job">-->
<!--      <td th:text="${job.field}">FIELD NAME : </td>-->
<!--      <td th:text="${job.getFieldValue()}">FIELD DATA</td>-->
<!--    </tr>-->
        <tr>
            <td>ID</td>
            <td th:text="${job.id}">JOB ID</td>
        </tr>
        <tr>
            <td>Title</td>
            <td><a th:href="${'/list/jobs?column=name&value=' + job.name}" th:text="${job.name}">JOB TITLE</a></td>
        </tr>
        <tr>
            <td>Employer</td>
            <td><a th:href="${'/list/jobs?column=employer&value=' + job.employer}" th:text="${job.employer}">EMPLOYER</a></td>
        </tr>
        <tr>
            <td>Location</td>
            <td><a th:href="${'/list/jobs?column=location&value=' + job.location}" th:text="${job.location}">LOCATION</a></td>
        </tr>
        <tr>
            <td>Position Type</td>
            <td><a th:href="${'/list/jobs?column=positionType&value=' + job.positionType}" th:text="${job.positionType}">POSITION TYPE</a></td>
        </tr>
        <tr>
            <td>Skill</td>
            <td><a th:href="${'/list/jobs?column=coreCompetency&value=' + job.coreCompetency}" th:text="${job.coreCompetency}">CORE SKILL</a></td>
        </tr>
    </table>
  </th:block>

</div>

</body>
</html>