<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h2 th:text="${title}"></h2>

  <form th:action="@{/search/results}" method = "post">
    <h3>Search by:</h3>

    <p>
            <span th:each="column : ${columns}">
                <input th:if="${#strings.isEmpty(searchType)}"
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <input th:unless="${#strings.isEmpty(searchType)}"
                       type="radio"
                       name="searchType"
                       th:id="${column.key}"
                       th:value="${column.key}"
                       th:checked="${column.key == searchType}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>
    </p>

    <p>
      <label for="searchTerm">Keyword:</label>
      <input type="text" name="searchTerm" id="searchTerm" />
    </p>

    <input type="submit" value="Search" />
  </form>

  <hr />

  <!-- TODO #4 - Loop over the search results to display all job fields. -->
    <th:block th:each="job : ${jobs}" >
        <table class="job-listing">
            <tr>
                <td>ID</td>
                <td th:text="${job.id}">JOB ID</td>
            </tr>
            <tr>
                <td>Title</td>
                <td><a th:href="${'/list/jobs?column=name&value=' + job.name}" th:text="${job.name}">JOB TITLE</a></td>
            </tr>
            <tr>
                <td>Employer</td>
                <td><a th:href="${'/list/jobs?column=employer&value=' + job.employer}" th:text="${job.employer}">EMPLOYER</a></td>
            </tr>
            <tr>
                <td>Location</td>
                <td><a th:href="${'/list/jobs?column=location&value=' + job.location}" th:text="${job.location}">LOCATION</a></td>
            </tr>
            <tr>
                <td>Position Type</td>
                <td><a th:href="${'/list/jobs?column=positionType&value=' + job.positionType}" th:text="${job.positionType}">POSITION TYPE</a></td>
            </tr>
            <tr>
                <td>Skill</td>
                <td><a th:href="${'/list/jobs?column=coreCompetency&value=' + job.coreCompetency}" th:text="${job.coreCompetency}">SKILL</a></td>
            </tr>
        </table>
    </th:block>
</div>

</body>
</html>
